API_ID=12050714
API_HASH=08f1a315f287b51656a25e99966ac0e7
BOT_TOKEN=5665918097:AAHXOUwjpWdNSpwXfc3JNMbXOcxyptMGdlg
SESSION_STRING=BQBJW0r6SvdEonBjW4iD-bmPA3bDAI1qHRMfSjgagAIRi6f8oOHSIvcjx5WofD7GNG6KXD53T6eB7npGxWOmLD8_PejmUdWkXJ6IjKgh-S83WcLp77BO724aVQtDmlbVAJJbXPl6MGwFoYvT0PiMuVjEYvThFdvRJJiyuuIN3oV9zLJd_qarY7IgfL43m6YDryiCABNIMn_BBUAQ2N2qYOeb3LlsPnotdyrCxKVsHCnRP6WUeTnWX7yEq7E-Psvm-FBo7PkJmphQGN2D9MpQyrRseTJU7_mtJvLLxeEV38BIKQbJiymemEcEmOUc3ZZy0EnbGcN926689vjJNxHYHsJTAAAAAVgxB9QA
CHAT=-1001776705202
ADMINS=5774575572
DATABASE_URI=mongodb+srv://dwianggita:doabanda@cluster1.6iqhh98.mongodb.net/?retryWrites=true&w=majority
